@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");

@font-face {
    font-family: "Egyptian Nights";
    src: url("assets/fonts/EgyptianNights-yAOV.ttf") format("truetype");
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Spicy Rice", cursive;
}

body {
    margin: 0;
    background: url('https://res.cloudinary.com/ktm28/image/upload/v1589642296/Jungle_book/dark-frame_cc0f0d.jpg') no-repeat center center fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page-header {
    color: #b9e665;
    font-family: "Egyptian Nights";
    text-align: center;
    font-size: 3.5em;
}


/* --Sound Toggler */

.btn {
    border: 1px solid #10552f;
    border-radius: 50px;
    background-color: #b9e665;
    margin-top: 5px;
    background-position: center;
    height: 2em;
    width: 2.2em;
    cursor: pointer;
}

.soundOn {
    background-image: url('https://res.cloudinary.com/ktm28/image/upload/c_scale,w_28/v1588692544/Jungle_book/unmute-icon.png');
}

.soundOff {
    background-image: url('https://res.cloudinary.com/ktm28/image/upload/c_scale,h_32,w_28/v1588692539/Jungle_book/mute-icon.png');
}


/* --Game Area-- */

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.game-info {
    color: #00fa70;
    font-size: 2em;
}


/* --Overlays-- */

.overlay-text {
    display: none;
    color: #9afa00;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    text-shadow: 3px 3px 6px rgba(138, 24, 24, 0.5);
    cursor: pointer;
    font-family: "Egyptian Nights", sans-serif;
}

.overlay-text-small {
    font-size: 1em;
    font-family: "Egyptian Nights", sans-serif;
}

.instruction-text {
    font-family: "Spicy Rice", cursive;
    color: #ebee22;
    font-size: 0.5em;

}

.overlay-img {
    position: relative;
    width: 30%;
    animation: tiger 500ms forwards;
    animation-timing-function: ease-in;
}

@keyframes tiger {
    from {
        width: 0%;
    }

    to {
        width: 30%;
    }
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }

    to {
        background-color: rgb(0, 0, 0, 0.9);
        font-size: 4em;
    }
}


/* --Cards-- */

.card {
    /* background-color: #00fa70; */
    position: relative;
    height: 7em;
    width: 7em;
    cursor: url('https://res.cloudinary.com/ktm28/image/upload/v1588682662/Jungle_book/boomerang-cursor.png'), auto;
}

.card-face {
    height: 100%;
    width: 100%;
    /* background-image: url('https://res.cloudinary.com/ktm28/image/upload/v1589904300/Jungle_book/question-mark_kscb6u.png'); */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 12px;
    border-style: solid;
}

.card-back {
    transform: rotateY(0);
    -moz-transform: rotateY(0);
    -o-transform: rotateY(-0);
    -ms-transform: rotateY(0);
    -webkit-transform: rotateY(0);
   
}

.card.visible .card-back {
    transform: rotateY(-180deg);
    -moz-transform: rotateY(0);
    -o-transform: rotateY(-0);
    -ms-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    
}

.card-front {
    transform: rotateY(180deg);
    -moz-transform: rotateY(0);
    -o-transform: rotateY(-0);
    -ms-transform: rotateY(0);
    -webkit-transform: rotateY(0);

}

.card.visible .card-front {
    transform: rotateY(0);
    -moz-transform: rotateY(0);
    -o-transform: rotateY(-0);
    -ms-transform: rotateY(0);
    -webkit-transform: rotateY(0);
}

.card-img {
    max-width: 7em;
    max-height: 7em;
}

.zoom